:root[sizemode="fullscreen"] #navigator-toolbox-background {
  display: none !important
}

#browser {
	-moz-box-ordinal-group: 0 !important;
}

#PanelUI-menu-button,
#nav-bar-customization-target {
  background-color: #131313;
}

#TabsToolbar {
  display: flex;
  justify-content: center;
  background-color: #131313;
}

.tabbrowser-tab:not([pinned]) {
	width: 12rem !important;
}

.tab-label-container {
	display: grid;
	align-items: center;
	justify-content: center;
}

.tab-text.tab-label {
	overflow: hidden;
}

#statuspanel {
  position: absolute;
  right: 0;
}

/* bleh */

hbox.titlebar-spacer, hbox.titlebar-buttonbox-container {
  display: none;
}

toolbar#nav-bar, toolbar#TabsToolbar {
  background-color: #131313;
}
