@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*
https://github.com/Arty2/userstyles
@version      0.2.2

1. Find your profile folder `about:support > Profile Folder > Open Folder` or locate the exact profile in use by visiting `about:profiles`.
2. Create a folder named `chrome` then create a file named userChrome.css inside it and paste the following code.
3. If userChrome.css doesn’t seem to work, open `about:config` and set `toolkit.legacyUserProfileCustomizations.stylesheets=true`.
4. Restart Firefox.

Other references:
Firefox Support forum - Tabs below the URL bar: https://support.mozilla.org/en-US/kb/forum-response-tabs-below-url-bar
Custom CSS tweaks for Firefox Quantum: https://github.com/Aris-t2/CustomCSSforFx
*/

/*
tabs to bottom
source: https://github.com/Arty2/userstyles/blob/master/tabs_to_bottom.userchrome.css

UI model:
	#navigator-toolbox-background
		#navigator-toolbox
			#titlebar
				#toolbar-menubar
				#TabsToolbar
			#nav-bar
			#PersonalToolbar
	#browser
*/

/* bring the browser window to the top */
#browser {
	-moz-box-ordinal-group: 0 !important;
}

/* adjust paddings */
*|*:root[sizemode="maximized"] #TabsToolbar {
	/* a bug prohibits removing top paddint of #titlebar */
	margin-top: -8px !important;
}

*|*:root[sizemode="maximized"] #browser {
	padding-top: 8px !important;
}

*|*:root[sizemode="normal"] #browser {
	padding-top: 0 !important;
}

/* hide tab toolbar when fullscreen */
#nav-bar[inFullscreen],
#TabsToolbar[inFullscreen] {
	display: none;
}

/* restore top border */
/*TODO: find the proper color variable, it's not -moz-accent-color*/
/* *|*:root[sizemode="normal"] #browser {
	border-top: 1px solid #4d4d50 !important;
} */

/* make toolbar border persist on fullscreen */
*|*:root[sizemode="maximized"] #navigator-toolbox {
  border-top: 1px solid -moz-accent-color !important;
  border-bottom: 1px solid -moz-accent-color !important;
}

/* hide titlebar buttons */
#TabsToolbar > .titlebar-buttonbox-container {
	display: none !important;
}

/* scrollbox */
scrollbox {
  background-color: #0a0a0f;
}

/* navbar autohide */
#nav-bar {
  /* customize this value. */
  --navbar-margin: -80px;

  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;

  opacity: 0;
}

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
  margin-top: 0;
  margin-bottom: 0;
  z-index: 100;

  opacity: 1;
}

#nav-bar:hover {
  /* customize this value. */
  --navbar-margin: 0px;

  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;

  opacity: 0;
}

/* statuspanel url preview to the right */
#statuspanel {
  right: 0;
}
